<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>CabRef</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1 th:inline="text">Entry page for [[${entry.key}]] [[${entry.type}]]</h1>

<form th:action="@{'changeType/'+${entry.key}}" method="post">
   <p>Type:
<div class="form-group">
   <select class="form-control" id="type" name="type">
         <option th:each="type : ${types}" th:value="${type}" th:text="${#strings.capitalizeWords(type)}"
            th:selected="${type==entry.type}"></option>
   </select>
   </p>
   <input type="submit" value="Change type" class="btn btn-info" />
</div>
</form>

<form th:action="@{'doUpdate/'+${entry.key}}" th:object="${entry}" method="post">
<div class="form-group">
   <p>Key: <input type="text" name="key" th:value="${entry.key}" disabled="disabled" class="form-control"/></p>
   <th:block th:each="field : ${fields}">
      <p th:inline="text">[[${#strings.capitalizeWords(field)}]]: <input type="text" th:name="${field}" th:value="*{__${field}__}" class="form-control"></p>
   </th:block>
   <input type="submit" value="Update" class="btn btn-info" />
</div>
</form>
<p><a th:href="@{'doDelete/'+${entry.key}}" class="btn btn-info"><span>Delete</span></a></p>
<p><a th:href="@{'../cabref'}" class="btn btn-info"><span>Back</span></a></p>
</div>
</body>
</html>