<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>CabRef</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1 th:inline="text">Entry page for [[${entry.key}]]</h1>
<form th:action="@{'doUpdate/'+${entry.key}}" method="post">
<div class="form-group">
   <p>Key: <input type="text" name="key" th:value="${entry.key}" disabled="disabled" class="form-control"/></p>
   <p>Type: <input type="text" name="type" th:value="${entry.type}" class="form-control"/></p>
   <p>Author: <input type="text" name="author" th:value="${entry.author}" class="form-control"/></p>
   <p>Title: <input type="text" name="title" th:value="${entry.title}" class="form-control"/></p>
   <p>Journal: <input type="text" name="journal" th:value="${entry.journal}" class="form-control"/></p>
   <p>Volume: <input type="text" name="volume" th:value="${entry.volume}" class="form-control"/></p>
   <p>Number: <input type="text" name="number" th:value="${entry.number}" class="form-control"/></p>
   <p>Year: <input type="text" name="year" th:value="${entry.year}" class="form-control"/></p>
   <input type="hidden" name="login" th:value="${login}" />
   <input type="submit" value="Update" class="btn btn-info" />
</div>
</form>
<p><a th:href="@{'doDelete/'+${entry.key}(login=${login})}" class="btn btn-info"><span>Delete</span></a></p>
<p><a th:href="@{'http://localhost:4567/cabref'(login=${login})}" class="btn btn-info"><span>Back</span></a></p>
</div>
</body>
</html>