<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>CabRef</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Welcome to CabRef</h1>
        <p class="lead">Please log in below.</p>
	</div>
	<div class="row">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-2 center-block text-center">
            <span>
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </span>
        </div>
	</div>
</body>
</html>